.rect {
  width: 100px;
  height: 100px;
  /* 画面中央揃い */
  margin: 0 auto;
  background-color: orangered;
  /* tramslate%移動は100%でその物体１個分 */
  /* rotate 30degで右方向に30度傾く */
  // transform:rotate(30deg);
  /* skew 30度変形 */
  // transform: skew(-30deg,-30deg);
  /* 倍数 */
  transform: translateX(50px) scaleY(2);
  /* transform-origin　基準 */
  transform-origin: center center;
}


