$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}
.try {
  .btn {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    &.cubic {
      /** スタイルをここに追加。*/
      & span{
        display: inline-block;
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $cBlack;
        /* buttonの高さが50pxより */
        transform-origin: center center -25px;
        text-align: center;
        transition: all 0.3s;
        /* line-heightは文字の大きさ＋余白 */
        line-height: 48px;
      }
      
      & .hovering{
        background-color: $cBlack;
        color: $cWhite;
        transform: rotateX(90deg);
        
      }

      & .default{
        background-color: $cWhite;
        color: $cBlack;
        transform: rotateX(0);
      }
      &:hover .hovering{
        transform: rotateX(0);
      }

      &:hover .default{
        transform: rotateX(-90deg);
      }
    }

    
  }
}
