a {
    color: orange;

    &:visited {
        color: blue;
    }

    &:hover {
        color:  red;
    }

    &:focus {
        color: green;
    }
    &:active {
        color: purple;
    }
}


div {
    & span{
        color: olive;

        &:not(.cls) {
            color: purple;
        }

        &:first-child {
            color: purple;
        }

        &:nth-child(2) {
            color: purple;
        }

        &:last-child {
            color: purple;
        }

        
    }

    
}